
.world-map {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1 {
    font-family: Candara, sans-serif;
    font-size: 50px;
    text-align: center;
}


h3 {
    display: flex;
    padding: 10px 20px 0 50px;
    margin: 2px;
    text-align: center;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: start;
    list-style-type: none;
    padding: 10px;
    margin: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: whitesmoke;
}

footer  {
    text-align: center;
}



.flag {
    width: 30px;
    margin: 2px;
    padding: 5px;
}

li {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 120px;
    padding-top: 20px;
}

li h3, p {
    margin: 2px;
    padding: 5px;
}

.Africa {
    color: blue;
}

.Americas {
    color: green;
}

.Asia {
    color: red;
}

.Europe {
    color: yellow;
}

.Oceania {
    color: purple;
}
